.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
        display:block;
    }
}
.go-back-button {
    background-color: grey;

    @media (min-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        margin: 2rem;
    }

}