.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;


    h2 {
        text-align: center;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}


.card-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}