.card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    color: var(--secondary);
    height: fit-content;

    @media (min-width: 768px) {
            min-width: 300px
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.card.expanded .patient-details {
    display: block;
}

.patient-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .patient-photo {
        width: 80px;
        height: 80px;
        background-color: #f0f0f0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.patient-details {
    display: none;
    margin-top: 1rem;

    p {
        margin: 0.5rem 0;
        color: var(--secondary);
    }
}